<nav id="menu">
  <a href="/" {% if page.home %}class="selected"{% endif %}>Home</a>
  <details>
    <summary>About</summary>
    <a href="/about" {% if page.about %}class="selected"{% endif %}>About</a>
    <a href="/people" {% if page.people %}class="selected"{% endif %}>People</a>
    <a href="/recruiting" {% if page.recruiting %}class="selected"{% endif %}>Join</a>
    <a href="/press" {% if page.press %}class="selected"{% endif %}>Press</a>
  </details>
  <details>
    <summary>Work</summary>
    <a href="/research" {% if page.research %}class="selected"{% endif %}>Research Themes</a>
    <a href="/projects" {% if page.projects %}class="selected"{% endif %}>Projects</a>
    <a href="/publications" {% if page.collection == 'pubs' or page.title == 'Publications' %}class="selected"{% endif %}>Publications</a>
    <a href="/talks" {% if page.collection == 'talks' or page.title == 'Talks' %}class="selected"{% endif %}>Talks</a>
  </details>
  {% comment %} <a href="/courses" {% if page.courses %}class="selected"{% endif %}>Courses</a> {% endcomment %}
  <a href="/blog" {% if page.blog %}class="selected"{% endif %}>Blog</a>
</nav>