#header {
  padding-bottom: 2rem;
}

#header a {
  text-decoration: none;
}

#logo-svg {
  display: inline-block;
  height: 150px;

  img {
    height: 100%;
    max-width: 100%;
  }

  @include for-md-down {
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

.dnd {
  font-family: Control-Cursive;
  font-weight: 700;
  text-decoration: none;
}

.menu-container {
  display: flex;
  align-items: center;
  height: 100%;
}

#menu > a, #menu > details {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: top;
  line-height: 2;
  font-size: 1.2rem;
  color: $foreground;

  @include for-md-down {
    display: block;
    font-size: 0.8rem;
  }
}

#menu details a {
  display: block;
  margin-left: 1em;
  white-space: nowrap;

  @include for-md-down {
    white-space: normal;
  }
}

#menu a {
  text-decoration: none;
}

#menu a.selected, #menu summary:hover {
  font-style: italic;
}

details {
  max-width: 140px;
  max-height: 2.5rem;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

details[open] {
  max-width: 275px;
  max-height: 12rem;
}

@media screen and (max-width: 1179px) {
  #header {
    padding-bottom: 1rem;
  }

  #menu > a, #menu > details {
    display: block;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1359px) {
  #menu > a, #menu > details {
    font-size: 1rem;
  }
}
